.login{
	float:right;
	position:relative;
	right: 30px;
	margin-left:1px;
}

.userform{
	margin: 1px;
}

.form{
	display:none;
	float:right;
	background-color: red;
	position:relative;
	z-index: 1;
	bottom:30px;
}

body{
	background-image: url('/images/psychedelicbackground.jpg');
}

h1,h2,h3,h4,h5{
	margin: 20px;
}

#logout{
	float:right;
	position:relative;
	left:123px;
	top:10px;
	margin-left:1px;
	display:none;
}

span{
	background-color: red;
}
